@model IEnumerable<UIA.Models.Customer>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    
    
    @if (User.Identity.IsAuthenticated)
    { 
        <h1>Welcome user @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name.Split('|')[1].ToString() : "Guest")</h1>
        
    }
    else
    {
        <h1>Welcome user @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name.Split('|')[1].ToString() : "Guest")</h1>
    }

    <div style="width:100%;float:left; text-align:center">
        <img src="@Url.Content("~/Content/images/flight.png")" alt="" style="width:100%;" title="">
    </div>

</div>

